.my-card {
    min-width: 32%;
    border-radius: 0.5rem;
    padding: 0.1rem;
    box-shadow:var(--shadow);
  }
  
  .ant-card-head-title {
    margin: 0rem;
    font-weight: 450;
  }
  .my-card h3{
     margin: 0.1rem 0 0.5rem -0.05rem;

  }
  .my-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    width: 98%;
    flex-wrap: wrap;
  }
  .my-card p {
    margin: 0;
  }